html, body {
    height: 100%; /* Asegurarse de ocupar toda la pantalla */
    margin: 0; /* Eliminar márgenes externos */
    display: flex; /* Activar Flexbox para centrar contenido */
    align-items: center; /* Centrar verticalmente */
    background-color: #f0f0f0; /* Fondo claro para contraste */
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
h1 {
    margin-bottom: 40px;
    font-size: 24px;
    color: #333;
    display: flex;

}
  
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    height: 100px; /* Tamaño ajustado para mejor visibilidad */
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px; /* Tamaño ajustado para mejor visibilidad */
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.square.x {
    color: red;
}

.square.o {
    color: blue;
}
  
.square:hover {
    background-color: #f3f3f3;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.x {
    color: red;
    font-weight: bold;
}

.o {
    color: blue;
    font-weight: bold;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info {
    margin-top: 20px;
}
  